body {
    padding: 0 1%;
}

term {
    font-weight: bold;
    font-style: italic;
}

.photo-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.sketch-container {
    /* display: inline-block; */
    margin: 10px 0px;
    /* position: relative; */
    /* border: 1px solid #ccc; */
}

.caption {
    color: rgb(200, 200, 200);
    font-style: italic;
    position: relative;
    left: 300px;
    bottom: 42px;
    width:fit-content;
    transform: translate(-50%, 0);
}