body {
    padding: 0 1%;
}

term {
    font-weight: bold;
    font-style: italic;
}

.photo-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.sketch-container {
    /* display: inline-block; */
    margin: 10px 0px;
    /* border: 1px solid #ccc; */
}