@font-face {
    font-family: 'Roboto';
    src: url('/assets/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    padding: 0 1%;
}

main {
    max-width: 100%;
}

@media (min-width: 768px) {
    main {
        max-width: 80%;
        font-size: 0.9em;
    }
}

@media (min-width: 992px) {
    main {
        max-width: 60%;
    }
}

img {
    margin-bottom: 1em;
}

span {
    font-weight: bold;
    font-style: italic;
    color: #888;
}

input {
    margin: 1em 0 0 !important;
}

header {
    margin-top: 2em;
}

footer {
    margin-bottom: 2em;
}

.photo-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
}

.photo-row > div {
    flex: 1;
    aspect-ratio: 1 / 1;
    min-width: 0;
}

.sketch-container {
    margin: 1em 0 2em;
}

.sketch-container.with-slider {
    margin: 0;
}

.slider {
    /* Set transparency (for mouse-over effects on hover) */
    opacity: 0.7;
    transition: opacity .2s;
}

.slider.vertical {
    width: inherit;
    position: absolute;
    transform-origin: left top;
    transform: rotate(-90deg) translate(1em, 1em);
}

.slider:hover {
    opacity: 1;
}

.slider-container {
    width: 100%;
    position: relative;
}

.one-one {
    aspect-ratio: 1 / 1;
}

.three-two {
    aspect-ratio: 3 / 2;
}

.three-one {
    aspect-ratio: 3 / 1;
}

.caption {
    color: #c8c8c8;
    font-size: 0.5em;
    font-style: italic;
    position: relative;
    left: 100%;
    top: -1em;
    width:fit-content;
    transform: translate(-105%, 0);
}

.instructions {
    color: #ccc;
    height: 0;
    text-align: center;
    z-index: 100;
    position: relative;
    font-style: italic;
}

.instructions.top {
    top: 1em;
}

.instructions.bottom {
    bottom: 5em;
}

.instructions.small {
    font-size: 0.75em;
    bottom: 6em;
}

.instructions.no-slider {
    margin-top: -1em;
    top: 2em;
}

.hidden {
    display: none;
}

.solution {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    font-style: italic;
}

.solution li {
    font-style: italic;
}

.text2D {
    color: #fff;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    width: auto;
    transform: translate(-50%, -50%);
}

#root {
    width: 100%;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
}